[submodule "opencode"]
	path = plugins/opencode
	url = https://github.com/yuzhangCZ/opencode.git
	branch = learn-opencode
	shallow = true
[submodule "message-bridge-opencode-plugin"]
	path = plugins/message-bridge-opencode-plugin
	url = https://github.com/yuzhangCZ/message-bridge-opencode-plugin.git
	branch = feat/testApp
	shallow = true
[submodule "plugins/openclaw-feishu"]
	path = plugins/openclaw-feishu
	url = https://github.com/AlexAnys/openclaw-feishu.git
[submodule "plugins/openclaw"]
	path = plugins/openclaw
	url = https://github.com/openclaw/openclaw.git
